/** Styles for the theme: Base */

/*--------------------------------------------Button--------------------------------------------------------------*/

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-button,
.tchmi-combobox-template-button {
    background: linear-gradient(to bottom right, #4994da, #4162b0);
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-button polyline,
.tchmi-combobox-template-button polyline{
    stroke: #FFFFFF;
    fill: none;
}

/* class active will be set/unset in the control */
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template.active .TcHmi_Controls_Beckhoff_TcHmiCombobox-template-button,
.tchmi-combobox-template.active .tchmi-combobox-template-button {
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.02), inset 0px 0px 3px 2px rgba(0,0,0,0.3);
    background: linear-gradient(to top left, #4994da, #4162b0);
}
/* class active will be set/unset in the control */
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template.active .TcHmi_Controls_Beckhoff_TcHmiCombobox-template-button polyline,
.tchmi-combobox-template.active .tchmi-combobox-template-button polyline{
    stroke: #FFFFFF;
    fill: none;
}

/*--------------------------------------------select--------------------------------------------------*/
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-select,
.tchmi-combobox-template-select {
    background: #ffffff;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.02), inset 0px 0px 3px 2px rgba(0,0,0,0.3);
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template.active .TcHmi_Controls_Beckhoff_TcHmiCombobox-template-select,
.tchmi-combobox-template.active .tchmi-combobox-template-select {
    background: #EDEDED;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-select-content,
.tchmi-combobox-template-select-content {
    color: #4c6374;
    font-family: inherit;
}

/* class active will be set/unset in the control */
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template.active .TcHmi_Controls_Beckhoff_TcHmiCombobox-template-select-content,
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template.active .TcHmi_Controls_Beckhoff_TcHmiCombobox-template-input,
.tchmi-combobox-template.active .tchmi-combobox-template-select-content,
.tchmi-combobox-template.active .tchmi-combobox-template-input {
    color: #4c6374;
}

/*-----------------------table--------------------------------------*/

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown,
.tchmi-combobox-template-dropdown {
    box-shadow: inset -7px 0px 6px -7px rgba(0,0,0,0.6), inset 7px 0px 6px -7px rgba(0,0,0,0.6), inset 0px -7px 6px -7px rgba(0,0,0,0.6);
    background: #ffffff;
}
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown.above-control,
.tchmi-combobox-template-dropdown.above-control{
    box-shadow: inset -7px 0px 6px -7px rgba(0,0,0,0.6), inset 7px 0px 6px -7px rgba(0,0,0,0.6), inset 0px 7px 6px -7px rgba(0,0,0,0.6);
}
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown.drop-down-style-mobile,
.tchmi-combobox-template-dropdown.drop-down-style-mobile{
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
    max-width: 60%;
    max-height: 60%;
}
.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-element,
.tchmi-combobox-template-dropdown-element {
    color: #4c6374;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-element.selected,
.tchmi-combobox-template-dropdown-element.selected{
    background: rgba(76, 99, 116, 0.15); /* darkgray */
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-element.hover,
.tchmi-combobox-template-dropdown-element.hover{
    background: #4794da;
    color: #ffffff;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-input,
.tchmi-combobox-template-input {
    color: #4c6374;
    background-color: transparent;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-element-in-category {
    padding-left: 30px;
    padding-right: 30px;
}

.TcHmi_Controls_Beckhoff_TcHmiCombobox-template-dropdown-category {
    color: #564646;
    font-weight: bold;
    font-style: italic;
    padding-left: 15px;
    padding-right: 15px;
}