/** Styles for the theme: Base */
.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-circle-outside,
.tchmi-radial-gauge-template-circle-outside {
    fill: rgba(255, 255, 255, 0.5);
}

.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-main-tick,
.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-sub-tick,
.tchmi-radial-gauge-template-main-tick,
.tchmi-radial-gauge-template-sub-tick {
    stroke: #4794da;
    stroke-width: 2;
    pointer-events: none;
}


.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-label,
.tchmi-radial-gauge-template-label {
    font-size: 12px;
    fill: #4794da;
    font-weight: bold;
}

.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-circle-under,
.tchmi-radial-gauge-template-circle-under {
    stroke-width: 9px;
    stroke-dasharray: 741.5px;
    stroke-dashoffset: 206px;
    stroke: #ffffff;
    fill: transparent;
}

.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-circle-over,
.tchmi-radial-gauge-template-circle-over {
    stroke-width: 9px;
    stroke-dasharray: 741.5px;
    stroke-dashoffset: 206px;
    stroke: #4794da;
    fill: transparent;
}

.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-display-value, .TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-display-unit,
.tchmi-radial-gauge-template-display-value, .tchmi-radial-gauge-template-display-unit {
    fill: #4993da;
}

.TcHmi_Controls_Beckhoff_TcHmiRadialGauge-template-set-point {
    stroke: #4c6374;
    stroke-width: 2;
    pointer-events: none;
}