/** Styles for the theme: Base */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiLinearGauge,
.tchmi-linear-gauge {
    background-color: rgba(255, 255, 255, 0.5);
}

.TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-labels,
.tchmi-linear-gauge-template-labels {
    color: #4993DA;
    font-size: 14px;
    font-weight: 600;
}

.TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-tick,
.tchmi-linear-gauge-template-tick {
    background-color: #4993DA;
}

.TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-track,
.tchmi-linear-gauge-template-track {
    background-color: #FFFFFF;
}

.TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-filler,
.tchmi-linear-gauge-template-filler {
    background-color: #4994DA;
}

.TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-description,
.tchmi-linear-gauge-template-description {
    color: #4993DA;
    font-size: 14px;
}

/* Overrides for vertical orientation*/
.TcHmi_Controls_Beckhoff_TcHmiLinearGauge.vertical .TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-filler,
.tchmi-linear-gauge.vertical .tchmi-linear-gauge-template-filler {
    background-color: #4994DA;
}


.TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-set-point {
    position: absolute;
    background: #4c6374;
    height: calc(100% + 32px);
    top: -16px;
    width: 2px;
    transform: translate(-1px, 0);
}

    .TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-set-point.vertical-setpoint {
        position: absolute;
        width: calc(100% + 32px);
        top: auto;
        left: -16px;
        height: 2px;
        transform: translate(0, 1px);
    }

    .TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-set-point.inverted-setpoint {
        transform: translate(1px, 0);
    }

    .TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-set-point.vertical-setpoint.inverted-setpoint {
        transform: translate(0, -1px);
    }
